/* CSS reset */

*{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

/* Utilities */

.round-edges{
    border-radius: 20px;
}

.btn{
    cursor: pointer;
    border: 0;
    padding: 0 2vh;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.grow{
    flex-grow: 1;
}

.wrap{
    flex-wrap: wrap;
}

.hide{
    display: none;
}

.radio{
    height: 15px;
    width: 15px;
    margin: 1vh;
}

.dark-bg{
    background-color: rgb(100,0,2);
}

.medium-bg{
    background-color: rgb(255,146,160);
}

.light-bg{
    background-color: rgb(255,233,233);
}

.white-bg{
    background-color: white;
}

.dark-txt{
    color: rgb(100,0,2);
}

.medium-txt{
    color: rgb(255,146,160);
}

.light-txt{
    color: rgb(255,233,233);
}

.white-txt{
    color: white;
}

.container{
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.user-profile{
    width: 60vw;
    justify-content: center;
    align-items: center;
}

.user-content{
    width: 70%;
    align-items: center;
}

.profile-image{
    width: 40vh;
    height: 40vh;
    background-color: rgb(187, 187, 187);
    border-radius: 50%;
    margin: 5vh;
}

.profile-info{
    width: 30vh;
    font-size: 20px;
}

.profile-name{
    font-size: 30px;
    text-align: center;
}